.filter{
  display: flex;
flex-wrap: wrap;
 margin-right: auto;
  margin-left: auto;
  margin-bottom: 34px;
  padding: 0;
  // width: 326px;
  // height: 91px;
  @media screen and (min-width:768px){
    // width: 575px;
    height: 54px;
  }

@media screen and (min-width:1200px){
  // width: 575px;
  height: 54px;
}
  
 


}
.filter__item{
  margin-right: 6px;
  display: flex;
  font-weight: 500;
  align-items: center;
  @media screen and (max-width:767px){
  margin-bottom: 15px;
  &:nth-child(3) {
    margin-right: 0;
  }
  
&:last-child {
  margin-right: 0;
}
&:nth-last-child(-n+2){
  margin-bottom: 0;
}
  }

  @media screen and (min-width:768px){
    margin-bottom: 0;
    margin-right: 6px;
    &:nth-last-child{
      margin-right: 0;
    }
  }
}

.filter__list{
display:flex;
// flex-wrap: wrap;
// margin-left: auto;
// margin-right: auto;
// justify-content: center;
padding: 0;
@media screen and (max-width:767px){
width: 326px;
flex-wrap: wrap;

}
// height: 91px;
@media screen and (min-width:768px){
  // width: 575px;
  height: 54px;
  margin-left: auto;
margin-right: auto;
}

@media screen and (min-width:1200px){
// width: 575px;
height: 54px;
margin-left: auto;
margin-right: auto;
}
}
.filter__btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-primary);
background-color: #F5F4FA;
border-radius: 4px;
border-color:transparent;
padding: 6px 22px;
transition: box-shadow var(--sec) var(--cubic), color var(--sec) var(--cubic), background-color var(--sec) var(--cubic);

&:hover, &:focus {
color: var(--color-secondary-accent);
background-color:var(--color-accent);



box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

&:last-child{
  margin-right: 0;
}
}

