.feature{
  padding-bottom: 60px;
   padding-top: 60px;
   
    // align-items: center;
    /* outline: 2px solid red; */
    @media screen  and (min-width:1200px){
  
   padding-bottom: 94px;
   padding-top: 94px;
    }
   }
.feature__list {

  display: flex;
flex-wrap: wrap;
// margin-bottom: -30px;
justify-content: center;
}


.feature__item {
  margin-bottom: 30px;
  // margin-right: 30px;

  &:last-child {
    margin-bottom: 0;
  }
  
  @media screen  and (min-width:480px){
    width:100%;
    margin-right: 0;
  }
@media screen  and (min-width:768px) and (max-width:1199px) {
    width:768px; 
    margin-right: 30px;
    &:nth-child(2n) {
    margin-right: 0;
   
  }
  &:nth-last-child(-n + 2)  {
    margin-bottom: 0;
   
  }
      width: calc((100% - 60px ) / 2);
 

  
  }
@media screen  and (min-width:1200px){
width: 1200px;
margin-right: 30px;
margin-bottom: 0;
  flex-basis: calc((100% - 30px * 4) / 4);
  

  &:last-child {
    margin-right: 0;
  }

}
}
//   &:nth-child(2)::before{
 
//     background-image: url(../images/icon.svg#icon-antenna-1);  
    
//     }
// }

   .feature__icon{
    //  display: flex;
     width: 100%;
   /* outline: 2px red solid; */
   background-color:#F5F4FA;
   margin-bottom: 30px;
   padding: 25px 0;
   justify-items: center;
   align-content: center;
   text-align: center;
   }
   
   .feature__title {
    /* width:calc(100%/5-30px);  */
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  
    color: var(--color-primary);
    @media screen and (min-width:768px){
      text-align: start;
    }
  
    &+p {
  
      /* height: 400px; */
      line-height: 1.71;
      color: var(--color-secondary)
    }
  
  }