.hero{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4; 
  text-transform: uppercase;
  max-height: 400px;
  max-width: 480px;
  background-image:linear-gradient(
   
  rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero480.jpg');
  
  @include retina{
    background-image:linear-gradient(
   
    rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero480-2x(1).jpg');
  }
@media screen and (min-width:480px){
  max-width: 480px;
  background-image:linear-gradient(
   
      rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero480.jpg');
      @include retina{
        background-image:linear-gradient(
       
        rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero480-2x(1).jpg');
      }
 
}
@media screen and (min-width:768px){
  max-width: 768px;
  height: 400px;
  background-image:linear-gradient(
   
      rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero768.jpg');
  
      @include retina{
        background-image:linear-gradient(
       
        rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero768-2x(1).jpg');
      }
}
@media screen and (min-width:1200px){
  max-width: 1600px;
  
 background-image:linear-gradient(
   
      rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/HeroIPG\(1\).jpg');
     height: 600px;
     max-height: 600px;
     @include retina{
      background-image:linear-gradient(
     
      rgba(47, 48, 58, 0.4), #2F303A66 ), url('../images/hero1200-2x(1).jpg');
    }
}
    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  background-color: #C4C4C4; 
    color: var(--color-secondary-accent) ;
    /* background-color:var(--background-secondary); */
 
    max-width:1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .hero__box{
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width:1200px){
    padding-top: 200px;
    padding-bottom: 200px;
    }
  }
  .hero__title{
     display: block;   
     margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 380px;
  // 
font-size: 26px;
line-height: 1.62;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

  margin-bottom: 30px;
color: #FFFFFF;
    @media screen and (min-width:1200px){
     width: 696px;
 font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

 

      }
 


  
  
 
  }
  .hero__btn{

  color: var(--color-secondary-accent);
     background: #188CE8;

  width: 200px;
  height: 50px;

  }
 
  