.team{
  background-color:#F5F4FA ;
      padding-bottom: 60px; 
       padding-top: 60px;
       width: 100%;
       margin-left: auto;
       margin-right: auto;
       @media screen and (min-width:768px) and (max-width:1199px){
        width: 768px;
       }
  @media screen and (min-width:1200px){
    max-width:1600px;
     padding-bottom: 94px; 
       padding-top: 94px;
  }
 
}
.team__title{
color: var(--color-primary);
     text-align: center;
     font-weight: 700;
     font-size: 28px;
     line-height: 1.17;
     /* identical to box height */
     
     text-align: center;
     letter-spacing: 0.03em;
     margin-bottom: 30px;
  @media screen and (min-width:1200px){
    font-weight: 700;
font-size: 36px;
line-height: 1.17;

margin-bottom: 50px;
 }
 

}
.team__center{

  @media screen and (min-width:768px){
    width: 768px;
  }
    @media screen and (min-width:1200px){
         margin-left: auto;
  margin-right: auto;
      
      width: 1200px;}
      
}
.team__list{
  display: block;
  // width:1200px;
  text-align: center;
  justify-content: center;
  @media screen and (min-width:768px){
display: flex;
flex-wrap: wrap;
  }

}
.social-list{
  display:flex;
  justify-content: center;
  align-items: center;
}
.team__item {
  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  display: block;
  width:100%;
  
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  
 
  

  // margin-right: 30px;
  background: #FFFFFF;
  /* outline: 2px solid red; */

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

   @media screen and (min-width:768px) and (max-width:1199px){
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2){
      margin-right: 0;
   }
   &:nth-child(4){
    margin-right: 0;
 }
 &:nth-last-child(-n + 2){
  margin-bottom: 0;
 }
  }
  @media screen and  (min-width:1200px){  
    width: calc((100% - 3 * 30px) / 4);
    margin-bottom: 0;
     margin-right: 30px;
     
   &:nth-child(4){
    margin-right: 0;
  }
  
  margin-bottom: 0;
  
    
  
    }
}
// .team__item:last-child {
//     margin-right: 0;
//   }

.team__person{
  font-weight: 500;
font-size: 16px;
line-height: 1.88;
color: var(--color-primary);
 text-align: center;
 margin-bottom: 10px;
 margin-top: 30px;
//  & + {
// font-size: 16px;
// line-height: 1.88;
// color: var(--color-secondary);
//  text-align: center;
//  margin-bottom: 16px;
// }
}


.team__prof{
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-secondary);
   text-align: center;
   margin-bottom: 16px; 
}

.team__soclinks{
  width: 206px;
margin-left: auto;
margin-right: auto;
margin-bottom: 24px;

}
.team__linklist{
  display:flex;
  width: 206px;
  justify-content: space-between;
// margin-bottom: 80px;
  align-items: center;
}

.team__linkitem{
  height: 44px;
  width: 44px;
  /* outline: 2px red solid; */
  margin-right: 10px;
  /* border-radius: 50%; */
 
  &:last-child{
    margin-right: 0; 
    
  }
 }

.team__personlink{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #AFB1B8; 
  transition: fill var(--sec) var(--cubic), background-color var(--sec) var(--cubic), drop-shadow var(--sec) var(--cubic);
  &:hover, &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     background-color: #2196F3;
     fill: #FFFFFF; 
   }
}
