.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
button{
    cursor: pointer;
}
img{
    display: block;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
 }