.footer__item{ 
  // display: inline-block;
  transition: color var(--sec) var(--cubic);
  &:not(:last-child){
    margin-bottom: 9px;
   @media screen  and (max-width:1199px){
    margin-bottom: 8px;
   }
  &:not(:last-child){
    margin-bottom: 9px;
   @media screen and (min-width:768px) and (max-width:1199px){
    margin-bottom: 8px;
   }
   
    /* outline: 2px red solid; */
  }
  &:last-child{
    margin-bottom: 60px;
  } 
  &:hover, &:focus{   
      color: var(--color-accent); 
     
  }
}
.footer__list{
  margin-bottom: 60px;
  @media screen and (min-width:1200px){
    margin-bottom: 0;
  }
  // display: inline-block;
}

  .footer__adress{
  font-style: normal; 
  line-height: 1.71;
  color: var(--color-secondary-accent);  
  transition: color var(--sec) var(--cubic);
  &:hover{
    
    color: var(--color-accent); 
    
    }
  }
  .footer__contact{
    // display: inline-block;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--sec) var(--cubic);
  &:hover{
    
    color: var(--color-accent); 
 
    }
  }
  
