.footer{
  margin: 0 auto;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;  
  @media screen and (min-width:480px)and (max-width:767px){
    width:480px;
    padding-top: 60px;
    padding-bottom: 60px;
 
  }
    @media screen and (min-width:768px)and (max-width:1200px){
    width: 768px;
  }
    @media screen and (min-width:1200px){
    width: 1600px;   
     display: flex;
    justify-content: center;
  }
    
          background-color:var(--background-secondary);
           /* padding-bottom: 60px; 
         padding-top: 60px; */
         
      
  }
.footer__boxlogo{
  // outline: 1px solid red;
  // width: calc((100% - 32px) / 2);
   @media screen and (max-width:767px){
  margin: 0 auto;
  text-align: center;
  
}
  @media screen and (mіn-width:768px) and (max-width:1200px) {
 display: block;
    padding: 0;
    margin-left: 60px;
  // margin-right: 165px;
    // width: calc(300px);
    justify-content: space-between;
  }
 
}
  .footer__logo{
    // margin-top: 60px;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-secondary-accent);
    padding: 0;  
}

.footer__center{
  @media screen and (min-width:1200px){
    display: flex;
}
}
.footer-line{ 

  @media screen and (min-width:768px) and (max-width:1200px){
     display:flex;
     margin-left: 60px;
     margin-right: 60px;
     justify-content: space-between;
    // flex-basis: caic (100% / 2);
    // // width: 768px;
  }
  @media screen and (min-width:1200px) {
    display: flex;
}
}
  
  
  