:root{
    --color-accent: #2196F3;
    --color-primary:#212121;
    --color-secondary:#757575;
    --background-secondary:#2F303A;
    --color-secondary-accent:#FFFFFF;
    --cubic:cubic-bezier(0.4, 0, 0.2, 1);
    --sec:250ms;
 }